.ss-function-colorPicker {
  width: 180px;
  height: 285px;
  position: fixed;
  z-index: 15001;
  background: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  padding: 16px;
  cursor: default;
}
.ss-function-colorPicker .ss-function-colorPicker-panel {
  height: 180px;
  width: 150px;
  margin-bottom: 8px;
}
.ss-function-colorPicker .ss-function-colorPicker-panel .ss-function-colorPicker-panel-wheel {
  width: 150px;
  height: 150px;
  position: relative;
  margin-bottom: 14px;
  background: url("colors.png") -720px 0;
  cursor: default;
}
.ss-function-colorPicker .ss-function-colorPicker-panel .ss-function-colorPicker-panel-wheel .wheel-selector {
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 8;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  border: 1px solid #ffffff;
  top: 75px;
  left: 75px;
}
.ss-function-colorPicker .ss-function-colorPicker-panel .ss-function-colorPicker-panel-wheel:after {
  content: '';
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.ss-function-colorPicker .ss-function-colorPicker-panel .ss-function-colorPicker-panel-slider {
  width: 150px;
  height: 16px;
  position: relative;
  cursor: default;
}
.ss-function-colorPicker .ss-function-colorPicker-panel .ss-function-colorPicker-panel-slider .slider-selector {
  width: 10px;
  height: 18px;
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 2px;
  top: -2px;
  left: 2px;
  z-index: 8;
}
.ss-function-colorPicker .ss-function-colorPicker-panel .ss-function-colorPicker-panel-slider:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background: url("tr.png") no-repeat;
}
.ss-function-colorPicker .ss-function-colorPicker-panel .ss-function-colorPicker-panel-slider:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: transparent;
}
.ss-function-colorPicker .ss-function-colorPicker-colors {
  width: 150px;
  height: 24px;
  margin-bottom: 16px;
}
.ss-function-colorPicker .ss-function-colorPicker-colors .color-picker {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  border: 1px solid #ECECEC;
  position: relative;
  cursor: pointer;
  float: left;
  margin-right: 8px;
}
.ss-function-colorPicker .ss-function-colorPicker-colors .color-picker:after {
  position: absolute;
  content: '';
  background: url("pick.png") no-repeat;
  width: 14px;
  height: 14px;
  top: 5px;
  left: 5px;
}
.ss-function-colorPicker .ss-function-colorPicker-colors .color-input {
  box-sizing: border-box;
  width: 116px;
  height: 26px;
  border-radius: 2px;
  border: 1px solid #ECECEC;
  padding: 0 0 0 9px;
  line-height: 24px;
  float: left;
  color: #626262;
  font-size: 12px;
}
.ss-function-colorPicker .ss-function-colorPicker-colors .color-input:focus {
  outline: none;
}
.ss-function-colorPicker .ss-function-colorPicker-confirm {
  width: 150px;
  height: 24px;
}
.ss-function-colorPicker .ss-function-colorPicker-confirm span {
  width: 71px;
  height: 24px;
  float: left;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
}
.ss-function-colorPicker .ss-function-colorPicker-confirm span:nth-child(1) {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.24);
  color: #626262;
  margin-right: 8px;
}
.ss-function-colorPicker .ss-function-colorPicker-confirm span:nth-child(2) {
  background: #07AEFC;
  color: #ffffff;
}
